body{
    margin: 0;
    padding: 0;
    background-image: url("w");
    background-size: cover;
    background-repeat: no-repeat;
    font-family : Verdana,Tahoma, sans-serif;
}

.box{
    width: 380px;
    height: 500px;
    /* background-color:rgba(0, 0, 0, 0.7); */
    background-color: rgb(193, 224, 251);
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
}

.box img{
	width:50px;
    margin-top:-90px ;
    margin-bottom: -18px;
}
.header {
	width: 300px;
    height: 50px;
    text-transform: uppercase;
	display: inline-flex;
    padding-top: 20px;
    padding-bottom: 0;
	justify-content: space-between;
}

.header a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
	display: inline-flex;
    padding-left: 25px;
    padding-right: 25px;
	justify-content: center;
    cursor:pointer;
}

.header .active {
    color: blueviolet;
	font-weight: bold;
	position: relative;
}


